@charset "UTF-8";

@media (min-width: 413px) {

    /* Desktop */
   
    @font-face {
        font-family: mo;
        src: url('Montserrat-SemiBold.ttf') format('truetype');
    }

    body {
        background-image: url('Arquivos/Imagens/Fundo 1.png');
        background-size: cover;
        background-position: center;
        margin: auto;
        font-size: 1em;
        width: 100%;
    }

    #cabeça {
        min-height: 70px;
        min-width: 100px;
        text-align: center;
        margin-bottom: 1vh;
        max-width: 100%;
        width: 100%;
        position: relative;
    }
    
    header {
        background-color: #087c5c;
        max-height: 35vh;
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    nav > a {
        margin-right: 2vh;
        margin-left: 2vh;
        margin-bottom: 1vh;
      }

    .button {
        background-color: transparent;
        border: transparent;
        margin-right: 2vh;
        margin-left: 2vh;
        margin-bottom: 1vh;
        cursor: pointer;
        transition: transform 0.3s ease;
        }

    button:active {
        transform: scale(0.9);
    }
    
    img {
        max-width: 100%;
        height: auto;
      }
    
      p {
        max-width: 100%;
        height: auto;
    }
    
    .containner{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 590px;
    }

    .containner figure.img img{
        position: absolute;
        left: 36%;
        top: 37%;
        width: 30%;
    }

    .containner figure.img3 img{
        position: absolute;
        left: 25%;
        top: 36%;
        width: 54%;
    }

    .containner figure.avatar img{
        position: absolute;
        left: 5%;
        top: 47%;
        width: 30%;
    }

    .containner figure.avatar2 img{
        position: absolute;
        left: 65%;
        top: 45%;
        width: 30%;
    }

    .containner figure.img2 img{
        position: absolute;
        top: 83%;
        left: 35%;
        width: 35%;
    }

    .containner figure.img4 img{
        position: absolute;
        top: 75%;
        left: 29%;
        width: 45%;
    }

    #Texto{
        position: absolute;
        left: 33%;
        top: 59%;
        width: 37%;
        color: #032b22;
        font-family: mo;
        font-weight: normal;
        text-align: justify;
        text-indent: 20px;
        font-size: 19px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #Texto2{
        position: absolute;
        left: 32%;
        top: 87.4%;
        width: 40%;
        color: #032b22;
        font-family: mo;
        font-weight: normal;
        text-align: center;
        text-indent: 20px;
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .image {
        opacity: 0;
        transform: translateX(20px);
        transition: opacity 0.5s ease, transform 1s ease;
    }
      
    .image.show {
        opacity: 100;
        transform: translateX(0px);
        transition: opacity 3s ease, transform 2s ease;
    }

    .image2 {
        opacity: 0;
        transform: translateX(-20px);
        transition: opacity 0.5s ease, transform 1s ease;
    }
      
    .image2.show {
        opacity: 100;
        transform: translateX(0px);
        transition: opacity 3s ease, transform 2s ease;
    }

    .image3 {
        opacity: 0;
        transition: opacity 1s ease;
    }
      
    .image3.show {
        opacity: 100;
        transition: opacity 0.5s ease;
    }

    .image4 {
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 1.5s ease, transform 1s ease;
    }
      
    .image4.show {
        opacity: 100;
        transform: translateY(0px);
        transition: opacity 1s ease, transform 1s ease;;
    }

    .image5 {
        opacity: 0;
        transition: opacity 1s ease;
    }
      
    .image5.show {
        opacity: 100;
        transition: opacity 1s ease;
    }

    footer {
        position: absolute;
        background-color: #087c5c;
        color: #d9f1ed;
        text-align: justify;
        width: 100%;
        padding: 1% 0;
        justify-content:  center;
        align-items: center;
    
    }
    footer h1{
        margin-left: 40% ;
    }
    
    .footer-content {
        display: flex;
        justify-content:  center;
        align-items: center;
    }
    .footer-content img{
        width: 45px;
        border-radius: 25px;
        border: #032b22 solid 2px;
        cursor: pointer;
    
    }
    .footer-content img:hover{
        transform: scale(1.3);
        transition: 0.5s;
    }
    
    .espaço {
        margin-right: 20px;
    }
   
}

@media (max-width: 412px) {

    /* Mobile */
   
    @font-face {
        font-family: mo;
        src: url('Montserrat-SemiBold.ttf') format('truetype');
    }

    body {
        background-image: url('Arquivos/Imagens/Fundo 1.png');
        background-size: cover;
        background-position: center;
        margin: auto;
        font-size: 1em;
        width: 100%;
    }

    #cabeça {
        min-height: 70px;
        min-width: 100px;
        text-align: center;
        content: url(Arquivos/Imagens/Header\ 2.png);
        margin-bottom: 1vh;
        max-width: 100%;
        width: 100%;
        position: relative;
    }
    
    header {
        background-color: #087c5c;
        max-height: 35vh;
        text-align: center;
    }

    nav {
        justify-content: center;
        align-items: center;
      }
      
    nav > a {
        margin-right: 2vh;
        margin-left: 2vh;
        margin-bottom: 1vh;
        max-width: 10%;
        max-height: 10%;
      }

    .button {
        background-color: transparent;
        border: transparent;
        margin-right: 2vh;
        margin-left: 2vh;
        margin-bottom: 1vh;
        cursor: pointer;
        transition: transform 0.3s ease;
        }

    button:active {
        transform: scale(0.9);
    }
    
    img {
        max-width: 100%;
        height: auto;
      }
    
    p {
        max-width: 100%;
        height: auto;
    }
    
    .containner{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 590px;
    }

    .containner figure.img img{
        position: absolute;
        left: 14%;
        top: 48%;
        width: 70%;
    }

    .containner figure.img3 img{
        position: absolute;
        left: 10%;
        top: 45%;
        width: 80%;
    }

    .containner figure.avatar img{
        position: absolute;
        left: 47.5%;
        top: 58%;
        width: 50%;
    }

    .containner figure.avatar2 img{
        position: absolute;
        left: 2%;
        top: 35%;
        width: 50%;
    }

    .containner figure.img2 img{
        position: absolute;
        top: 115%;
        left: 5%;
        width: 90%;
    }

    .containner figure.img4 img{
        position: absolute;
        top: 75%;
        left: 29%;
        width: 45%;
    }

    #Texto{
        position: absolute;
        left: 10%;
        top: 83%;
        width: 80%;
        color: #032b22;
        font-family: mo;
        font-weight: normal;
        text-align: center;
        text-indent: 20px;
        font-size: 19px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    #Texto2{
        position: absolute;
        left: 5%;
        top: 117.4%;
        width: 27%;
        color: #032b22;
        font-family: mo;
        font-weight: normal;
        text-align: center;
        text-indent: 20px;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .image {
        opacity: 0;
        transform: translateX(20px);
        transition: opacity 0.5s ease, transform 1s ease;
    }
      
    .image.show {
        opacity: 100;
        transform: translateX(0px);
        transition: opacity 3s ease, transform 2s ease;
    }

    .image2 {
        opacity: 0;
        transform: translateX(-20px);
        transition: opacity 0.5s ease, transform 1s ease;
    }
      
    .image2.show {
        opacity: 100;
        transform: translateX(0px);
        transition: opacity 3s ease, transform 2s ease;
    }

    .image3 {
        opacity: 0;
        transition: opacity 1s ease;
    }
      
    .image3.show {
        opacity: 100;
        transition: opacity 0.5s ease;
    }

    .image4 {
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 1.5s ease, transform 1s ease;
    }
      
    .image4.show {
        opacity: 100;
        transform: translateY(0px);
        transition: opacity 1s ease, transform 1s ease;;
    }

    .image5 {
        opacity: 0;
        transition: opacity 1s ease;
    }
      
    .image5.show {
        opacity: 100;
        transition: opacity 1s ease;
    }

    footer {
        position: absolute;
        background-color: #087c5c;
        color: #d9f1ed;
        text-align: center;
        top: 130%;
        width: 100%;
        padding: 1% 0;
    }
    
    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: mo;
        text-indent: 20px;
        font-size: 18px;
        flex-wrap: wrap;
    }

    .espaço {
        margin-right: 40px;
        margin-left: 40px;
    }
   
}